$primary-color: #f44336;
$text-color: #333;
$black-color: #000;
$white-color: #fff;
$gray-color: #ccc;

/* Responsive */
$md: 876px;
$sm: 576px;

@mixin mobile { 
  @media screen and (max-width: #{$sm - 1px}) {     
    @content;   
  } 
}  

@mixin tablet { 
  @media screen and (max-width: #{$md - 1px}) {       
    @content;   
  } 
}  

@mixin flexBox($wrap: no-wrap, $direction: row, $justifyContent: flex-start, $alignItem: flex-start) {
  display: flex;
  flex-wrap: $wrap;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItem;
}

@mixin backgroundImg($repeat: no-repeat, $size: cover, $position: center) {
  background-repeat: $repeat;
  background-size: $size;
  background-position: $position;
}

@mixin inputForm($width) {
  border: 1px solid $gray-color;
  outline: none;
  padding: 12px;
  margin-top: 8px;
  width: $width;
  max-width: 100%;
  font-size: 15px;
  font-family: inherit;
          
  &:focus {
    border: 1px solid $text-color;
  }
}

%button {
  border: none;
  outline: none;
  background-color: $text-color;
  font-family: inherit;
  font-size: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $white-color;
  cursor: pointer;
}

%buttonHover {
  background-color: $gray-color;
  color: $text-color;
}

/* Import layout */
@import "./layout/header";
@import "./layout/footer";

.container {
  width: 100%;
  height: fit-content;

  .container__book {
    width: 100%;
    height: 720px;
    background-image: url("https://www.w3schools.com/w3images/hotel.jpg");
    @include backgroundImg();
    position: relative;

    .container__book-main {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;

      .container__book-heading {
        background-color: $primary-color;
        @include flexBox(no-wrap, row, flex-start, center);
        padding: 20px 16px;
        color: $white-color;
        font-size: 24px;
        
        i {
          margin-right: 18px;
        }

        h2 {
          position: relative;
          top: 2px;
        }
      }

      .container__book-container {
        background-color: $white-color;
        padding: 20px 16px;

        form {
          width: 100%;

          .form-row {
            @include flexBox(wrap, row, flex-start, flex-start);
            margin: 0 -9px;

            .form-group {
              padding: 0 9px;
              @include flexBox(wrap, column, flex-start, flex-start);
          
              .form-group-label {
                span {
                  font-size: 14px;
                }
              }
          
              .form-group-input {
                @include inputForm(300px);

                @include tablet {
                  width: 390px;
                }
              }
          
              &:last-child {
                @include tablet {
                  margin-top: 28px;
                }
              }
            }

            &.form-row--last-child {
              margin-top: 28px;
            }

            @include mobile {
              flex-direction: column;
            }
          }

          button {
            border: none;
            outline: none;
            padding: 12px 16px;
            margin-top: 28px;
            background-color: #616161;
            color: $white-color;
            font-family: inherit;
            cursor: pointer;

            span {
              margin-left: 20px;
              font-size: 15px;
            }

            &:hover {
              background-color: $gray-color;
              color: $text-color;
            }
          }
        }
      }

      @include tablet {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .container__rooms {
    padding: 25px 20px;
    
    h2 {
      font-size: 22px;
    }

    > span {
      font-size: 15px;
      line-height: 1.4;
      display: block;
      margin-top: 26px;
    }

    form {
      margin-top: 24px;
      @include flexBox(wrap, row, flex-start, flex-start);

      .form-group {
        flex: 1;
        padding: 0 9px;

        .form-group-label {
          span {
            font-size: 14px;
          }
        }
    
        .form-group-input {
          @include inputForm(100%);
    
          @include tablet {
            width: 100%;
          }
        }

        &:first-child {
          padding-left: 0;

          @include tablet {
            padding-top: 0;
          }
        }

        &:last-child {
          padding-right: 0;
        }

        @include tablet {
          width: 100%;
          padding: 20px 0 0;
        }
      }

      #adults, #kids {
        width: 100%;
      }

      button {
        @extend %button;
        width: 100%;
        margin-top: 8px;
        padding: 12px;

        &:hover {
          @extend %buttonHover;
        }
      }

      @include tablet {
        flex-direction: column;
      }
    }

    .container__rooms-list {
      padding: 0;
      margin: 18px -8px 0 -8px;
      @include flexBox(wrap, row, flex-start, flex-start);

      .container__rooms-item {
        width: 33.3333%;
        padding: 0 8px;

        img {
          width: 100%;
          height: 285px;
          @include backgroundImg();
        }

        .container__rooms-item-info {
          background-color: $white-color;
          padding: 0 16px 16px 16px;
          position: relative;
          top: -2px;

          h2 {
            padding-top: 20px;
          }

          h3 {
            color: $gray-color;
          }

          h3, h4 {
            margin-top: 25px;
            font-size: 15px;
          }

          button {
            @extend %button;
            margin-top: 26px;
            padding: 12px 0;
            width: 100%;

            &:hover {
              @extend %buttonHover;
            }
          }
        }

        @include mobile {
          width: 100%;
          margin-top: 30px;

          &:first-child {
            margin-top: 0;
          }
        }
      }

      @include tablet {
        margin-top: 30px;
      }

      @include mobile {
        flex-direction: column;
      }
    }

    @include tablet {
      padding-bottom: 0;
    }
  }

  .container__about {
    padding: 25px 20px;
    @include flexBox(wrap, row, flex-start, flex-start);

    .container__about-description {
      width: 33.3333%;
      padding-right: 8px;

      h2 {
        font-size: 22px;
      }

      span {
        display: block;
        margin-top: 26px;
        line-height: 1.4;
      }

      @include tablet {
        width: 100%;
        margin-top: 20px;
      }
    }

    img {
      width: 66.66667%;
      padding-left: 8px;

      @include tablet {
        width: 100%;
        margin-top: 20px;
        padding-left: 0;
      }
    }

    @include tablet {
      flex-direction: column;
    }
  }

  .container__contact {
    margin: 40px 0;
    @include flexBox(wrap, row, space-around, center);

    .container__contact-item {
      i {
        color: $primary-color;
      }

      span {
        font-size: 18px;
      } 

      &:first-child {
        @include tablet {
          margin-top: 0;
        }
      }

      @include tablet {
        margin-top: 20px;
      }
    }

    @include tablet {
      flex-direction: column;
      margin: 20px 0 45px 0;
    }
  }

  .container__alert {
    padding: 50px 16px;
    background-color: $primary-color;
    color: $white-color;
    @include flexBox(no-wrap, row, flex-start, center);

    .container__alert-icon {
      background-color: #ff5722;
      width: 37px;
      height: 32px;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      span {
        color: $white-color;
        font-weight: 550;
      }
    }

    > span {
      display: block;
      margin-left: 20px;

      @include tablet {
        line-height: 1.6;
      }
    }

    @include tablet {
      padding-block: 30px; 
    }
  }

  .container__hotels {
    padding: 32px 20px 0 20px;

    h2 {
      font-size: 22px;
    }

    > span {
      display: block;
      margin-top: 26px;
    }

    .container__hotels-list {
      margin: 34px -8px 65px -8px;
      @include flexBox(wrap, row, flex-start, flex-start);

      .container__hotels-left {
        width: 50%;
        padding: 0 8px;
        position: relative;

        img {
          width: 100%;

          @include tablet {
            height: 400px;
          }

          @include mobile {
            height: auto;
          }
        }

        span {
          position: absolute;
          left: 26px;
          bottom: 14px;
          color: $white-color;
        }

        @include tablet {
          width: 100%;
        }
      }

      .container__hotels-right {
        width: 50%;
        padding: 0 8px;
        position: relative;

        .container__hotels-row {
          @include flexBox(wrap, row, flex-start, flex-start);
          margin: 0 -8px;

          .container__hotels-item {
            width: 50%;
            padding: 0 8px;
            position: relative;

            img {
              width: 100%;
            }

            span {
              position: absolute;
              left: 26px;
              bottom: 14px;
              color: $white-color;
            }
          }

          &.container__hotels-row--last-child {
            margin-top: 16px;
            position: relative;
            top: -1px;
          }
        }

        @include tablet {
          width: 100%;
          margin-top: 16px;
        }
      }

      @include tablet {
        flex-direction: column;
      }
    }
  }

  .container__subscribe {
    padding: 32px 16px;
    background-color: $black-color;
    color: $white-color;

    h2 {
      font-size: 23px;
    }

    h3 {
      margin-top: 30px;
      font-size: 15px;
    }

    form {
      margin-top: 25px;

      label {
        display: block;
        width: 100%;
        font-size: 15px;
      }

      input {
        border: none;
        outline: none;
        width: 100%;
        padding: 8px;
        margin-top: 6px;
        font-size: 15px;
        font-family: inherit;

        @include tablet {
          margin-top: 15px;
        }
      }

      button {
        @extend %button;
        margin-top: 16px;
        padding: 8px 16px;
        background-color: $primary-color;

        &:hover {
          @extend %buttonHover;
        }
      }
    }
  }

  .container__contact2 {
    margin: 54px 16px 32px 16px;

    h2 {
      font-size: 30px;
    }

    > span {
      display: block;
      margin-top: 26px;
    }

    .container__contact2-list {
      margin: 24px 0;

      .container__contact2-item {
        @include flexBox(no-wrap, row, flex-start, center);
        margin-bottom: 10px;

        i {
          color: $primary-color;
        }

        span {
          display: block;
          margin-left: 20px;
        }

        &.container__contact2-item--last-child {
          margin-bottom: 0;
        }
      }
    }

    form {
      input {
        border: 1px solid $gray-color;
        outline: none;
        padding: 20px 12px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 15px;
        font-family: inherit;

        &:focus {
          border: 1px solid $text-color;
        }

        @include tablet {
          margin-bottom: 20px;
        }
      }

      button {
        text-transform: uppercase;
        @extend %button;
        padding: 12px 24px;
        background-color: $black-color;

        &:hover {
          @extend %buttonHover;
        }
      }
    }
  }
}