footer {
  background-color: $black-color;
  color: $white-color;
  padding: 60px 0;

  h2, h3, .footer-social {
    text-align: center;
  }

  h2 {
    font-size: 22px;
  }

  .footer-social {
    padding: 38px 0;
    font-size: 21px;
  }

  h3 {
    font-size: 14px;

    a {
      color: inherit;
    }
  }
}