header {
  width: 100%;
  background-color: $white-color;
  @include flexBox(wrap, row, space-between, stretch);
  font-size: 18px;

  @include mobile {
    flex-direction: column;
  }

  .header__left {
    @include flexBox(wrap, row, flex-start, stretch);

    @include mobile {
      flex-direction: column;
    }
  }

  .header__link {
    text-decoration: none;
    color: $text-color;
    display: block;
    padding: 12px 16px;

    &.active {
      background-color: $primary-color;
      color: $white-color;

      i {
        font-size: 18px;
        margin-right: 14px;

        @include mobile {
          margin-right: 8px;
        }
      }

      &:hover {
        background-color: $primary-color;
      }
    }

    &.book-now {
      background-color: #f1f1f1;
    }

    &:hover {
      background-color: $gray-color;
    }

    @include mobile {
      text-align: center;
    }
  }
}